<h1 class="mt-3">Pipes <small>Angular </small></h1>
<hr>

<div class="row">

    <div class="col">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>VARIABLE</th>
                    <th>PIPE</th>
                    <th>SALIDA</th>
                    <!--  <th>VARIABLE</th>
                    <th>VARIABLE</th>
                    <th>VARIABLE</th>
                    <th>VARIABLE</th> -->
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{nombre2}} </td>
                    <td> capitalizado:{{capital}}
                        <br>
                        <button (click)="capital=true" class="mr-1 btn btn-danger">Capitalizar</button>
                        <button (click)="capital=false" class="mr-1 btn btn-secondary">No capitalizar</button>
                    </td>
                    <td> {{nombre2|capitalizado:capital }}</td>
                </tr>
                <tr>
                    <td>{{nombre}} </td>
                    <td> uppercase </td>
                    <td> {{ nombre | uppercase }}</td>
                </tr>
                <tr>
                    <td>{{nombre}} </td>
                    <td> lowercase </td>
                    <td> {{ nombre | lowercase }}</td>
                </tr>

                <tr>
                    <td>{{nombre}} </td>
                    <td> slice: 9 </td>
                    <td> {{ nombre | slice:9 }}</td>
                </tr>
                <tr>
                    <td>{{nombre}} </td>
                    <td> slice: 0: 3 </td>
                    <td> {{ nombre | slice:0:3 }}</td>
                </tr>
                <tr>
                    <td>{{arreglo}} </td>
                    <td> slice: 1: 5 </td>
                    <td> {{ arreglo | slice:1 :5 }}</td>
                </tr>
                <tr>
                    <td>{{PI}} </td>
                    <td> number:'3.0-0'</td>
                    <td> {{ PI| number:'3.0-0'}}</td>
                </tr>
                <tr>
                    <td>{{PI}} </td>
                    <td> number:'.0-2'</td>
                    <td> {{ PI| number:'.0-2'}}</td>
                    <!-- dame la parte entera entera pero redondea la decimal de 0 a 2 -->
                </tr>
                <tr>
                    <td>{{porcentaje}} </td>
                    <td> percent</td>
                    <td> {{ porcentaje| percent}}</td>
                </tr>
                <tr>
                    <td>{{porcentaje}} </td>
                    <td> percent :'2.2-2'</td>
                    <td> {{ porcentaje| percent :'2.2-2'}}</td>
                </tr>
                <tr>
                    <td>{{salario}} </td>
                    <td> currency</td>
                    <td> {{ salario| currency:''}}</td>
                </tr>
                <tr>
                    <td>{{salario}} </td>
                    <td> currency:'EUR'</td>
                    <td> {{ salario| currency:'EUR':'symbol'}}</td>
                </tr>
                <tr>
                    <td>{{valorPromesa}} </td>
                    <td> async</td>
                    <td> {{ valorPromesa | async}}</td>
                </tr>
                <tr>
                    <td>{{fecha}} </td>
                    <td> date</td>
                    <td> {{ fecha | date}}</td>
                </tr>
                <tr>
                    <td>{{fecha}} </td>
                    <td> date: 'medium'</td>
                    <td> {{ fecha | date: 'medium'}}</td>
                </tr>
                <tr>
                    <td>{{fecha}} </td>
                    <td> date: 'short'</td>
                    <td> {{ fecha | date: 'short'}}</td>
                </tr>
                <tr>
                    <td>{{fecha}} </td>
                    <td> date: 'MMMM -dd'</td>
                    <td> {{ fecha | date: 'MMMM -dd'}}</td>
                </tr>
                <tr>
                    <td>{{fecha}} </td>
                    <td> date: 'MMMM -dd':'':'en'</td>
                    <td> {{ fecha | date: 'MMMM -dd':'':'en'}}</td>
                </tr>
                <tr>
                    <td>{{fecha}} </td>
                    <td> date: 'MMMM -dd':'':'{{idioma}}'
                        <br>
                        <button (click)="idioma='es'" class="mr-1 btn btn-primary">Español</button>
                        <button (click)="idioma='en'" class="mr-1 btn btn-secondary">Ingles</button>
                        <button (click)="idioma='fr'" class="mr-1 btn btn-danger ">Frances</button>
                    </td>
                    <td> {{ fecha | date: 'MMMM -dd':'':idioma}}</td>
                </tr>

                <tr>
                    <td>{{nombre}} </td>
                    <td>contraseña: {{activar}}
                        <br>
                        <button (click)="activar= !activar" class="btn btn-outline-secondary">
                             Activar/Desactivar
                        </button>
                    </td>
                    <td> {{ nombre | contrasenia :activar}}</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>

<!-- </div>
<div class="row">
    <div class="col">
        <ul>
            <li *ngFor="let item of arreglo"> {{item }}</li>
        </ul>
    </div>
</div> -->
<hr>
<h3>JSON</h3>
<hr>
<div class="row mb-5">
    <div class="col">
        <pre>
            {{ pirata | json}}
        </pre>
    </div>
</div>
<hr>
<h3 class="mt-4">Domseguro</h3>
<hr>
<div class="row mb-5">
    <div class="col">
        <iframe width="560" height="315" [src]="videoUrl| domseguro" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>